body {
  padding-top: 50px;
}

footer {
  margin-top: 10px;
}

.media-object {
  max-width: 12.5em;
  margin-right: 1.5em;
}

.top-margin{
  margin-top: 1em;
}

.btn-margin {
  margin: 0.5em 0;
}

.header {
  border-bottom: 2px solid #de650d
}

.navbar-brand {
  font-size: 20px;
  color: #ebebeb !important;
}

#headline {
  background: url(./images/games3.jpg) no-repeat center center fixed;
  display: table;
  height: 500px;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-vcenter {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.headline-bigText{
  font-size: 50px;
  -webkit-text-stroke: 1px #9f0101;
  color: #ebebeb;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  -webkit-font-smoothing: antialiased;
}

.headline-smallText{
  color: #ebebeb;
  font-size: 24px;
  letter-spacing: 2px;
  text-shadow:
      3px 3px 0 #000,
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -1px 1px 0 #000,
      1px 1px 0 #000;
  -webkit-font-smoothing: antialiased
}

a:hover {
  color: #9d9d9d !important;
}
